# Ignore node_modules, etc
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build
# /lib

# Build must be included, because we use this package in other projects
# installed directly from repo and this is possible only if repo itself
# contains build
